body{
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);
}
p{
    color: hsl(0, 0%, 100%);
    font-size: 35px;
}
.img{
    display: none;
}
.nav-bar{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px ;
    
}
.nav-bar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-bar ul li:hover::after{
    color: rgb(233, 151, 165);
    width:100%;
}
.nav-bar ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.area{
    display: flex;
    align-items: center ;
    flex-direction: column;
    padding: 5px;
    color: white;
}
.text-box{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center ;
    flex-direction: column;
    background: url(5-free-admissions-resources.jpg);
    background-size: cover;
    opacity: 50%;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px; 

}
.left{
    color: white;
    font-size: 50px;
    
}
.right{
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
    width: 100%;
    height: 60vh;
    padding: 10px;
}
.follow{
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}
.pages{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.links{
    padding: 10px;
    margin-bottom: 50px;
}
@media(max-width: 780px ){
    .nav-bar ul{
        position: absolute;
        display: flex;
        gap: 60px;
        flex-direction: column;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.842);
        color: rgb(0, 0, 0);
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-bar ul li a{
        color: black;
    }
    .img{
        display: block;
    }
    p{
        font-size: x-large;
        text-align: left;
    }
    .page{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    body{
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);
        height: 100vh
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px; 
    
    }
    .left{
        color: white;
        font-size: 50px;
        
    }
    .right{
        background-color: rgba(255, 255, 255, 0.644);
        border-radius: 10px;
        width: 100%;
        height: 60vh;
        padding: 10px;
    }
    .follow{
        color: black;
        font-size: 20px;
        text-align: center;
        padding: 30px;
    }
    .pages{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .links{
        padding: 10px;
    }
}   